body{
  margin: 0;
  font-family: sans-serif;
}
.site-header {
  background-image: url("/static/image/mypic2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: clamp(150px, 35vh, 300px); /* توی موبایل کوچیک‌تر، توی دسکتاپ بلندتر */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.site-header .overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}

/* اطمینان از فیت بودن متن داخل هدر */
.site-header h1 {
  font-size: clamp(18px, 5vw, 36px); /* سایز متن هم ریسپانسیو */
  margin: 0;
}
.site-header p {
  font-size: clamp(12px, 3.5vw, 18px);
  margin: 5px 0 0;
}


/* نویگیشن بار */
/* نویگیشن بار */
.navbar {
  background-color:#F5F5DC;
  border: 1px solid #FFD700;
  overflow-x: auto;       /* اسکرول افقی */
  -webkit-overflow-scrolling: touch; /* اسکرول نرم روی موبایل */
  justify-content: flex-end;
  display: flex;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start; /* بچسبن سمت راست/چپ */
  flex-wrap: nowrap;           /* نذار بشکنه */

}

.navbar li {
  flex: 0 0 auto; /* آیتم‌ها جمع نشن */
  color: black;
}

.navbar a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  white-space: nowrap; /* متن نشکنه */
}

.navbar a:hover {
  background-color: #444;
}
