body{
  margin: 0;
  font-family: sans-serif;
}

/* هدر تصویری */
.site-header {
  background-image: url("/static/image/mypic2.png"); /* مسیر تصویر خودت */
 background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px; /* ارتفاع هدر، می‌تونی به 100vh تغییر بدی */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.site-header .overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3); /* رنگ نیمه شفاف برای بهتر دیده شدن متن */
  padding: 20px;
  border-radius: 10px;
}

/* نویگیشن بار */
.navbar {
  background-color: #333;
  color: white;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar li {
  flex: 1;
  text-align: center;
}

.navbar a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #444;
}
