.mm {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* ستون چپ، محتوا، ستون راست */
    grid-template-areas: 
        "left content right";
    /* فاصله بین ستون ها */
}
.responsive-img {
    width: 100%;       /* روی دسکتاپ تصویر پرکنه فضای والد */
    max-width: 600px;  /* حداکثر اندازه تصویر */
    height: auto;      /* حفظ نسبت تصویر */
}
/* وقتی عرض صفحه کمتر از 768px بشه */
@media (max-width: 600px) {
    .mm {
        grid-template-columns: 1fr; /* فقط یه ستون */
        grid-template-areas: 
             "left"
            "right" /* اول محتوا بعد سایدبارها */
            "content";      
    }
           
    .slidebar-left,
    .slidebar-right {
        border: none;  /* برای خلوت‌تر شدن */
        font-size: 14px; /* فونت بزرگ‌تر که ناخوانا نشه */
    }
}

.slidebar-left {
    
    grid-area: left;
    background-color:#F5F5DC;
    color: black;
    padding-left: px;
    padding-top:0px;
    border-left: 1px solid #FFD700;
    border-right: 1px solid #FFD700;
    direction: rtl;
    text-align: center;
    list-style-type:circle;
    font-family: 'IranYekan', 'Vazir', sans-serif;
    overflow:auto;   
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  
    }
.slidebar-left ul {
    padding-left: 2px;
    margin: 0px;
    padding-right: 2px;
   

}
.slidebar-left li{

border-bottom: 1px solid #FFD700;
    padding-bottom: 7px;
    padding-top: 7px;
    overflow: auto;                /* فعال کردن اسکرول افقی */
    font-size: 12x;
}
.slidebar-left a{
 text-decoration: none;
}
    

    

.content{
    grid-area: content;
    
}

.slidebar-right { 
    grid-area: right;
    background-color:#F5F5DC;
    color: black;
    padding-left: px;
    padding-top:0px;
    border-left: 1px solid #FFD700;
    border-right: 1px solid #FFD700;
    direction: rtl;
    text-align: center;
    list-style-type:circle;
    font-family: 'IranYekan', 'Vazir', sans-serif;
    overflow:auto;   
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}   
.kiry{
    padding-left: 2px;
    margin: 0px;
    padding-right: 2px;
    overflow:auto;
   

}
.kossher{
    border-bottom: 1px solid #FFD700;
    padding-bottom: 7px;
    padding-top: 7px;
    overflow: auto;                /* فعال کردن اسکرول افقی */
    font-size: 12x;
    overflow:auto;
    

}
.kossher a{
    text-decoration: none;
}
