
body {
    font-family: Arial, sans-serif;
    background-color: #2131c2;
    text-align: center;
    padding: 50px;
}
.container{ 
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-direction: row;
    color: #007bff;

}
h1 {
    color: #c71d1d;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
