{%extends "Base.html"%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=1">
{% block content %}
     <h1> دانلود منابع آسکی علوم پزشکی زاهدان</h1>
<h3>.نکته:این منابع به صورت رسمی نبوده و توسط دانشجویان تهیه گردیده ، کلیه عواقب استفاده از این منابع بر عهده دانشجو خواهد بود 
</h3>
<p>منابع</p>

    <ul>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%DA%A9%D9%88%D8%AF%DA%A9%D8%A7%D9%86%20DRS.pdf"  >        کودکان</a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%DA%A9%D9%88%D8%AF%DA%A9%20%D8%A8%DB%8C%D9%85%D8%A7%D8%B1.pdf"  > کودک بیمار      </a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%D9%86%D8%B3%D8%AE%D9%87_%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84%DB%8C_%D9%BE%D9%88%D8%B3%D8%AA%D8%B1_%D8%A7%D8%AD%DB%8C%D8%A7_2020_%DA%A9%D9%88%D8%AF%DA%A9_2.jpg"  >    نسخه موبایلی پوستر احیا   </a></li>
        <li class="kon"><a href="https://my-file1.storage.c2.liara.space/%D9%86%D8%B3%D8%AE%D9%87_%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84%DB%8C_%D9%BE%D9%88%D8%B3%D8%AA%D8%B1_2020_%D8%A7%D8%AD%DB%8C%D8%A7%DB%8C_%D9%86%D9%88%D8%B2%D8%A7%D8%AF_%D9%88_%D9%85%D8%A7%D8%AF%D8%B1_%D8%A8%D8%A7%D8%B1%D8%AF%D8%A7%D8%B1_2.jpg "  >      نسخه موبایلی پوستر احیا نوزاد </a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%D9%81%D8%B1%D9%85%D9%88%D9%84%20%D8%AA%D9%86%D8%B8%DB%8C%D9%85%20%D9%82%D8%B7%D8%B1%D8%A7%D8%AA%20%D8%A7%D9%86%D9%88%D8%A7%D8%B9%20%D8%B3%D8%B1%D9%85%20%D9%87%D8%A7%20%D9%88%20%D8%AF%D8%A7%D8%B1%D9%88%D9%87%D8%A7.pdf"  >     فرمول تنظیم قطرات سرم  </a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%D8%B4%D8%B1%D8%AD%20%D8%AD%D8%A7%D9%84%20%D8%B1%D9%88%D8%A7%D9%86%20%281%29.pdf"  >    شرح حال روان   </a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%D8%AF%D8%A7%D8%AE%D9%84%DB%8C%20%D8%AC%D8%B1%D8%A7%D8%AD%DB%8C%20DRS.pdf"  >   DRSداخلی جراحی   </a></li>
        <li class="kon"><a href=" https://my-file1.storage.c2.liara.space/%D8%A8%D9%87%D8%AF%D8%A7%D8%B4%D8%AA.pdf"  >   بهداشت    </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/%D8%A8%D9%87%D8%AF%D8%A7%D8%B4%D8%AA%20%D8%B1%D9%88%D8%A7%D9%86-%D8%B1%D8%B6%D8%A7%DB%8C%DB%8C%20%282%29.pdf">      بهداشت روان استاد رضایی</a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/%D8%A7%D8%B5%D9%88%D9%84%20%D9%88%20%D9%85%D9%87%D8%A7%D8%B1%D8%AA%20%D9%87%D8%A7%DB%8C%20%D9%BE%D8%B1%D8%B3%D8%AA%D8%A7%D8%B1%DB%8C%20%D8%AA%D8%A7%DB%8C%D9%84%D9%88%D8%B1.pdf">      اصول و مهارت های پرستاری </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/%D8%A7%D8%B5%D9%88%D9%84%20%D9%88%20%D9%81%D9%86%D9%88%D9%86%20%D8%A7%D8%B5%D9%84%DB%8C%20%D9%88%20%D8%AC%D8%AF%DB%8C%D8%AF_230610_140148.pdf">   اصول و فنون اصلی و جدید   </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/references.pdf">     توضیحات رفرنس ها </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/psychiatric%20nursing.pdf">      psychiatric nursing.pdf</a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/pediatric%20nursing-%20summary.pdf">   pediatric nursing- summar...</a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/mastectomy.pdf">   mastectomy   </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/New%20Doc%20%DB%B2%DB%B0%DB%B2%DB%B3-%DB%B0%DB%B1-%DB%B1%DB%B5%20%DB%B0%DB%B2.%DB%B2%DB%B0.%DB%B3%DB%B5.pdf">     نکات </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/New%20Doc%20%DB%B2%DB%B0%DB%B2%DB%B3-%DB%B0%DB%B1-%DB%B1%DB%B4%20%DB%B0%DB%B2.%DB%B0%DB%B0.%DB%B4%DB%B1.pdf">     فرایند پرستاری </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/New%20Doc%2008-14-2020%2016.48.29.pdf">     چک لیست استاد بهرامی </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/IMG_20250903_133705_470.JPG">       راهنمای تصویری تفسیر سریع نوار قلبی</a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/IMG_20250903_133639_676.jpg">    تنظیم قطرات  </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/IMG_20250903_133637_178.jpg">     پروتکل داروهای انفوزیونی و سدیشن </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/IMG_20250903_133108_121.jpg">    پوستر احیای پایه و پیشرفته ۲۰۲۰  </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/Community%20Health%20Nursing-%20summary.pdf">      دست نویس بهداشت</a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/CamScanner%2001-09-2023%2022.11.pdf">     مراقبت پرستاری </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/CCU%20summary.pdf">    CCU summary.pdf  </a></li>
        <li class="kon"><a  href="https://my-file1.storage.c2.liara.space/Brunner%20and%20suddarth.pdf">     برونر قلب </a></li>

    </ul>
</p>         
{% endblock content %}
        
           