{% extends "Base.html"%}
<link rel="stylesheet" href="{{ url_for('static' , filename='styles.css')}}"
{% block content %}
    <title>Dashboard</title>
</head>
<body>

<h1>🏥 Nursing Dashboard</h1>

<p>Welcome {{ current_user.username }}</p>

<a href="/logout">Logout</a>

<hr>

<h3>Add Patient</h3>

<form method="POST" action="/add_patient">
    <input name="name" placeholder="Name">
    <input name="age" placeholder="Age">
    <input name="condition" placeholder="Condition">
    <button type="submit">Add</button>
</form>

</body>
</html>
{% endblock %}