{% extends "Base.html"%}
{% block content %}
   <h1 class="attention">دانلود رایگان کتاب های پرستاری</h1>
                    <h2 class="attention">نکته:در صورت پیدا نکردن کتاب مورد نظر با مراجعه به قسمت پایین سایت و ارتباط با ادمین ،به ادمین اطلاع دهید</h2>
                    <ul>
                        <li> اخبار پرستاران </li>
                        <li ><a href="{{url_for('vam')}}">زمان ثبت‌نام وام ازدواج دانشجویی اعلام شد</li>
                        <li><a href="{{ url_for('tarh')}}">چه کسانی از طرح معاف هستند؟</li>
                        <li>مبالغ جدید وام های دانشجویی دانشجویان وزارت بهداشت به دانشگاه های علوم پزشکی کشور ابلاغ شد</li>
                        <li> افزایش سرانه وام‌های دانشجویی در سال جدید تحصیلی/ابلاغ اعتبار تسهیلات ۱۷ گانه به دانشگاه‌های علوم پزشکی وام دانشجویی</li>
                    </ul>

               
{% endblock %}
           