
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="سایت پرستاری ، آموزش ها ، مقالات تخصصی ، مراقبت های بالینی ، راهنمای دارویی و نکات کاربردی برای دانشجویان و پرستاران ، دانلود رایگان کتاب های آموزش پرستاری">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="محمد حسین زاده , Mohammad hosein zadeh">
    <meta name="keywords" content="پرستاری ، آموزش پرستاری،مراقبت بالینی ، دارو شناسی ، نکات پرستاری ، دانلود رایگان ">

    <!-- Open Graph -->
    <meta property="og:title" content="سایت پرستاری">
    <meta property="og:description" content="آموزش ها و مقالات تخصصی برای دانشجویان و پرستاران .">
    <meta property="og:image" content="<img src="{{ url_for('static', filename='image/mypic.jpg') }}" alt="mypic">
">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="سایت پرستاری">
    <meta name="twitter:description" content="مقالات و آموزش های پرستاری">
    <meta name="twitter:image" content="">
      
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='flex.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}?v=1">

    <title>سایت پرستاری</title>
</head>
<body>
    <header class="site-header">
       <style>
.site-header {
  background-image: url("{{ url_for('static', filename='image/mypic2.jpg') }}");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
</style>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="#">اورژانس</a></li>
            <li><a href="#">CCU-ICU</a></li>
            <li><a href="#">داخلی-جراحی</a></li>
            <li><a href="#">روان</a></li>
            <li><a href="#">سوختگی</a></li>
            <li><a href="#">دیالیز</a></li>
            <li><a href="#">فیزیولوژی</a></li>
            <li><a href="#">بهداشت سلامت و جامعه</a></li>

            
        </ul>
    </nav>
  <body>

    <h1>دانلود فایل‌ها و مدیا</h1>
    <ul>
        {% for file in files %}
        <li>
            {{ file.name }} -
            <a href="https://my-file1.storage.c2.liara.space/%D8%A7%D8%B5%D9%88%D9%84%20%D9%88%20%D9%85%D9%87%D8%A7%D8%B1%D8%AA%20%D9%87%D8%A7%DB%8C%20%D9%BE%D8%B1%D8%B3%D8%AA%D8%A7%D8%B1%DB%8C%20%D8%AA%D8%A7%DB%8C%D9%84%D9%88%D8%B1.pdf"
               target="_blank">دانلود کتاب پرستاری تیلور</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
