{%extends "Base.html"%}
{% block content %}
<h1>نکات پرستاری</h1>
<h3>در این صفحه۱۵نکته که هر پرستاری باید آن ها را بداند گرد آوری شده
<p>همیشه ضعف کادر درمان و دانشجو‌های علوم‌پزشکی تو بلد بودن چیزهای ابتدایی بود؛ مثلاً معیار برادن، مورس، ریچموند و یا گلاسکو چی هست؟
تو این فایل همه این‌ها رو گرد هم آوردم و خوندنش و سیو کردنش خیلی به دردتون میخوره❗️

مباحث گردآوری‌شده:
Isbar
Cuban
Smart
سطوح مراقبتی بخش
سطوح مراقبتی تریاژ
GCS
4score
معیار مورس
معیار برادن
۹ راه حل ایمنی بیمار
۷ رایت دارودهی
۲۹ مورد never event
معیار ریچموند
اندیکاسیون دستبند زرد و قرمز
معیار زد اسکور</p>
<p><a href="https://my-file1.storage.c2.liara.space/sourse/%D9%86%DA%A9%D8%A7%D8%AA/%D8%B1%D8%B6%D8%A7%20%D8%AF%D8%B3%D8%AA%D9%88%D8%B1%DB%8C%20%D8%A7%D8%B3%DA%A9%D9%86%D8%AF%D8%B1.pdf"> دانلود فایل</a></p>

{% endblock %}
