{%extends "Base.html"%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=1">
{% block content %}
<h1>نکات پرستاری</h1>
<h3>در این صفحه۱۵نکته که هر پرستاری باید آن ها را بداند گرد آوری شده
<p class="kosy">همیشه ضعف کادر درمان و دانشجو‌های علوم‌پزشکی تو بلد بودن چیزهای ابتدایی بود؛ مثلاً معیار برادن، مورس، ریچموند و یا گلاسکو چی هست؟
تو این فایل همه این‌ها رو گرد هم آوردم و خوندنش و سیو کردنش خیلی به دردتون میخوره❗️</p>
<p>
مباحث گردآوری‌شده:<p>
    <ul>
        <li>Isbar</li>
        <li>  Cuban </li>
        <li> سطوح مراقبتی بخش
  </li>
        <li> سطوح مراقبتی تریاژ  </li>
        <li> GCS  </li>
        <li>  4score </li>
        <li>  معیار مورس </li>
        <li>  معیار برادن
 </li>
        <li> ۹ راه حل ایمنی بیمار </li>
        <li>۷ رایت دارودهی  </li>
        <li> ۲۹ مورد never event </li>
        <li> معیار ریچموند
 </li>
        <li> اندیکاسیون دستبند زرد و قرمز
 </li>
        <li>  معیار زد اسکور
</li>
    </ul>
<p><a href="https://my-file1.storage.c2.liara.space/sourse/%D9%86%DA%A9%D8%A7%D8%AA/%D8%B1%D8%B6%D8%A7%20%D8%AF%D8%B3%D8%AA%D9%88%D8%B1%DB%8C%20%D8%A7%D8%B3%DA%A9%D9%86%D8%AF%D8%B1.pdf"> دانلود فایل</a></p>

{% endblock %}
