{%extends "Base.html"%}
{% block content%}
<h1>دریافت شماره نظام پرستاری</h1>
<p>
<ul>
    <li>جهت دریافت شماره نظام پرستاری ابتدا به سامانه عضویت مراجعه نمایید 
        <a href=" https://membership.ino1.ir/"> https://membership.ino1.ir/ </a>
        <img src="{{ url_for('static' , filename='image/aks1.jpg')}}" alt="" class="responsive-img">
    </li>
    <li>یعد از مراجعه از قسمت پایین صفحه لاگین گزینه ثبت نام عضویت جدید را انتخاب کنید
        <img src="{{ url_for('static' , filename='image/aks2.jpg')}}" alt="" class="responsive-img">
    </li>
    <li> بعد اطلاعات مورد نظر خود را پر نمایید
        <img src="{{ url_for('static' , filename='image/aks3.jpg')}}" alt=""  class="responsive-img" style="display: block;">
    </li>
    <li>در هنگام پر کردن فرم لطفا توجه فرمایید که شهر انتخاب هیات مدیره ، شهری که خدمت خواهید کرد می باشد
        <img src="{{ url_for('static' , filename='image/aks4.jpg')}}" alt="" class="responsive-img">
    </li>
    <li> بعد از پر کردن دقیق فرم آن را ارسال نموده و بعد مدارک مورد نیاز را ارسال و با در دست داشتن مدارک به محل استقرار
        هیات مدیره نظام پرستاری شهر مورد نظر مراجعه فرمایید

    </li>

</ul>
</p>


{% endblock%}