{% extends "Base.html"%}
{% block content%}
   <h3>✅چه کسانی از طرح معاف هستند؟ (معافیت های در اختیار وزارت بهداشت)
</h3>
   <p>
1️⃣افرادی که در مقطع قبلی تحصیلی خود گواهی معافیت دریافت کرده اند.
2️⃣افرادی که حداقل ۶ ماه خدمت داوطلبانه جبهه داشته باشند.
3️⃣فارغ التحصیلان خارج از کشور با انتقال از خارج از کشور که از مزایای ارزی دولتی بهره مند نبوده اند و در صورت طی دوره تکمیلی در داخل کشور شهریه مربوطه را پرداخت کرده باشند.
4️⃣افرادی که شورای عالی پزشکی با معافیتشان بعلت مشکل حاد پزشکی موافقت نماید.
5️⃣بانوان متأهل که فارغ التحصیل قبل از تاریخ اول آذر ۱۳۸۰ می باشند.
6️⃣بانوان مشمول که همسرانشان فوت نموده اند.
7️⃣انجام خدمات قانونی در مقطع قبلی مشمولانی که خدمات موضوع قانون را در یک مقطع انجام داده اند ( به عنوان مثال فارغ التحصیلان دکتری دندانپزشکی که قبلا تعهدات پنج ساله را با مقطع کاردانی بهداشت دهان به اتمام رسانیده اند).
8️⃣فارغ التحصيلان مازاد بر نیاز در مقطع فوق لیسانس و بالاتر بند ۲ بخشنامه شماره ۳۳۲۴۵ مورخ ۸۳/۳/۱۰)

❗️ماده ۸ قانون : انجام خدمات مربوط به خدمت پزشکان و پیراپزشکان در سازمان پزشکی قانونی با اخذ تعهد محضری و پس از طی شدن مدت تعهد


</p>

{%endblock%}